.about-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 80px;
    
  }
  
  .about-title {
    text-align: center;
    font-size: 3 rem;
    margin-bottom: 40px;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    font-family: 'Lobster', cursive;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 5px;

    &:before {
      content: "About me"; 
      position: absolute;
      top: 50%; 
      left: 50%; 
      transform: translate(-50%, -50%); 
      font-size: 7rem;
      color: rgba(255, 255, 255, 0.05); 
      z-index: -1; 
      white-space: nowrap; 
    }
  }

  
  .skills-section {
    margin-bottom: 20px;
  }
  
  .skills-container {
    display: grid;
    gap: 20px; /* Adjust gap as needed */
    justify-items: center; /* Center items horizontally */
    grid-template-columns: repeat(3, 1fr); /* 3 columns layout */
  }
  
  .skill-item {
    text-align: center;
    width: 100px; /* Adjust width as needed */
    transition: transform 0.3s ease-in-out;
  }
  
  .skill-item:hover {
    transform: scale(1.1);
    cursor: pointer;
    color: #fff;
  }
  
  .skill-icon {
    font-size: 2rem;
    color: #2196F3;
  }
  

  .education-experience-section {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
  }
  
  .education, .experience {
    flex: 1;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 0;
    text-align: center;
    color: #fff;
    min-width: 50px; 
    max-width: 400px; 

  }

  .section-icon {
    font-size: 3rem;
    color: #2196F3;
    margin-bottom: 10px;
  }
  
  .education-item, .experience-item {
    margin-bottom: 20px;
  }
  
  .education-title, .experience-title {
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .education-details, .experience-details {
    margin: 5px 0;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  p {
    margin: 2px 0;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  .about-container {
    animation: fadeIn 1s ease-in;
  }
  

