.navbar{
background: #c0ced1;
width: 80px;
height: 100vh;;
position: fixed;
top: 0;
left: 0;
z-index: 3;
// min-height: 500px;

 .logo{
    display: block;
    padding: 8px 0;
 }

 img{
    display: block;
    margin: 8px auto;
    width: 74px;
    height: auto;

 }

 nav{
    display: block;
    text-align: center;
    position: absolute;
    height: 210px;
    top: 40%;
    margin-top: -120px;
    width: 100%;

    a{
        font-size: 22px;
        color: #1a7fbd;
        display: block;
        line-height: 51px;
        height: 51px;
        position: relative;
        text-decoration: none;
    }
    a:hover{
        color: #c0ced1;
    }
    a:first-child {
        &:hover::after {
            content: 'HOME';
            color: #0d95b4;       
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%); // Center text
            white-space: nowrap;
            display: block;
            font-size: 18px;
        }
    }

    a.about-link {
        &:hover::after {
            content: 'ABOUT';
            color: #0d95b4;       
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%); // Center text
            white-space: nowrap;
            display: block;
            font-size: 18px;
        }
    }

    a.contact-link{
        &:hover::after {
            content: 'CONTACT';
            color: #0d95b4;       
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            white-space: nowrap;
            display: block;
            font-size: 16px;
        }
    }
    a.project-link {
        &:hover::after {
            content: 'PROJECTS';
            color: #0d95b4;       
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%); 
            white-space: nowrap;
            display: block;
            font-size: 16px;
        }
    }

    }

    ul{
        position: absolute;
        bottom: 10px;
        width: 100%;
        display: block;
        padding: 0;
        list-style: none;
        text-align: center;
        margin: 0;
    }
    li{
        a{
            padding: 5px 0;
            display: block;
            font-size: 22px;
            line-height: 16px; 
            color: #1a7fbd;
        }
        
        &:hover svg{
            color: #0d95b4;       
            
        }
    }


   
 }
